.main h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.main a {
    color: white;
}

.main a:hover {
    color: hsl(171, 100%, 41%);
}

.main text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(171, 100%, 41%);
    margin-top: 3rem;
}

.main p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: large;
    border-top: 2px solid hsl(171, 100%, 41%);
    border-radius: 25px;
    
}
