.main h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.main p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    ;
}

.main a {
    color: white;
}

.main a:hover {
    color: hsl(171, 100%, 41%);
}



