.main h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.main p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: large;
}

.main a {
    color: white;
}

.main a:hover {
    color: hsl(171, 100%, 41%);
}

.main text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(171, 100%, 41%);
    margin-top: 3rem;
}

.main button {
    background-color: hsl(0, 0%, 7%);
    border: 1px solid hsl(171, 100%, 41%);
    color: hsl(171, 100%, 41%);
}

.main button:hover {
    background-color: hsl(171, 100%, 41%);
    border: 1px solid black;
    color: black;
}















