.main h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.main a {
    color: white;
}

.main a:hover {
    color: hsl(171, 100%, 41%);
}

.main text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(171, 100%, 41%);
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.main p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: large;
      
}

.main h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(171, 100%, 41%);
    font-size: large;
}